img{
	width:250px;
	border:2px solid blue;
}
body{
	background-color:LightGray;
	font-family:Arial;
}

.red{
	color:darkblue;
	
}
.big-font{
	font-size:32px;
}
#specialStyle{
	border:2px solid red;
	background-color:pink;
	width:40%;
}
